files:
  /tmp/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      server {
          listen 443 ssl;
          server_name localhost;

          ssl_certificate /etc/pki/tls/certs/server.crt;
          ssl_certificate_key /etc/pki/tls/certs/server.key;

          ssl_session_timeout 5m;
          ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers on;

          location / {
              proxy_pass http://docker;
              proxy_http_version 1.1;
              proxy_set_header Connection "";
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto https;
          }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDczCCAlsCFFmasdPD8WlBp6oj4PQvXpBJdPV9MA0GCSqGSIb3DQEBCwUAMHYx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQxLzAtBgNVBAMMJmZtdnMuZXUtY2VudHJhbC0x
      LmVsYXN0aWNiZWFuc3RhbGsuY29tMB4XDTI0MDIxNTE4NDIxMVoXDTI1MDIxNDE4
      NDIxMVowdjELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNV
      BAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEvMC0GA1UEAwwmZm12cy5ldS1j
      ZW50cmFsLTEuZWxhc3RpY2JlYW5zdGFsay5jb20wggEiMA0GCSqGSIb3DQEBAQUA
      A4IBDwAwggEKAoIBAQDTkghYAXyHxMRHBnpIxP7+hA6F/Yy2JYJSgz9pE6TActHG
      uuEo0h03rBKjdeDKdWLLt2OqajLJ9KijFP8aJ6PywkdHOOhlhG/4MjyG3FOUBGdu
      UXSMgxUlu4shTdZY6gu+XmTCJteOYfWuX8Uk5BpqCaDk0gMPNOezTyL0O/ZKBDZG
      Yl6j7XVMm8ldZQO1Hm105L20dQEzSCR7SsjAnKQbYq8O461DNg8OpcglRMFuOXmI
      F4QPCGEYPca1malQ2TmCJOsb3dxdBqrhoUROOeB5ptfNANXUWaus1GG1eo1y6ppa
      lQvhjK7D27ol1veB1QcWSXOvWQfRog/d5sk6kLDXAgMBAAEwDQYJKoZIhvcNAQEL
      BQADggEBAEripz01B4kUOUkMN0SveisRe2EywExiga+Ssg4ZO45tCFotY9hGvgcL
      qEmr7OOtO7rzRbsJiXcroqOVn9JEkEUxdGjMYlzA5xQL2e6AfJTxD48bieLW3eB/
      ap1tshCpCn42VqxeU/eCyLs8v7S/afhenmsLBRMwyiV7WRlLEh5TnLpZmzmS2fPD
      TcjPuBjc6AbdqHUYgXSWmeBjYcu59M1+ohDWelKgsTKhS14AZTzmmH6VYgdd95ub
      INlbiD5cui0uFqeskI0bAnvKZ4Fpx3Rb7L4MJg2KvVba60zm43MYzAv6esTpKVaa
      EBbSjGom+aUu6DQ2R3phsSC1mCZIUr4=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA05IIWAF8h8TERwZ6SMT+/oQOhf2MtiWCUoM/aROkwHLRxrrh
      KNIdN6wSo3XgynViy7djqmoyyfSooxT/Giej8sJHRzjoZYRv+DI8htxTlARnblF0
      jIMVJbuLIU3WWOoLvl5kwibXjmH1rl/FJOQaagmg5NIDDzTns08i9Dv2SgQ2RmJe
      o+11TJvJXWUDtR5tdOS9tHUBM0gke0rIwJykG2KvDuOtQzYPDqXIJUTBbjl5iBeE
      DwhhGD3GtZmpUNk5giTrG93cXQaq4aFETjngeabXzQDV1FmrrNRhtXqNcuqaWpUL
      4Yyuw9u6Jdb3gdUHFklzr1kH0aIP3ebJOpCw1wIDAQABAoIBAQCEDUzJ6TuZ3jWI
      A0IF83cY0sHh3cyaz7SU3biRVCJrv/6xJGluuh5kZjFH90Yz96qPbkp1zk0fAmbT
      S0KiR4Wr+pjUmm9rFYtxhaGDpzc/VrRcBdlR7msfnvwK8HNOEd78lhwblnTKONhI
      WxxIl1rpPlM/Htmr/yBzKXyuplJmBTIv1NXiSAMwq83iY0rMOmkl1jVCWY1EhA+z
      DIX2+wu44syjpNTt1BJ0mky70WEbSvHUBbq0DIjuYdvideOb7jFwmpnIBg3aGxXT
      QkjBDaRiioMpeCAhY9QMfZCiGAdF2WDRTxLsNxkHnoIaEePD6JxRxZHjE7iYzW5y
      atKmNDfpAoGBAPNiBbj0Mde0Ki93x7hd3fWj++x/6RKLFVm38fxn69Hl75ANvgcm
      SKoPSZ37aZoRXZePiWRqfRgFF6CLko1ssUlFWdkHZAqizEmK9c9mezUmUzccljUc
      tLM/esAFGGBtaIEUB6cFAcfXdiTi6XPagxmSawYcS1NXvIEbnfAjohIFAoGBAN6J
      0knH9Bt10Ograc4k+6ePU02oCLvE/12KbOAGpjPVhIKKp1z8VWN9wzULzwtSJOri
      Ek2EqyWotRh5nG2CGb+RMAQp5KUMNqnFavOCubW4NN6XUyR8HV+Dedr30axcrWvm
      p82RrFU5Kk+7s9gX3mo+IdVKeJTv0T9g1utrlyIrAoGAdszkKjHYmofxB5aaQJ5h
      F+RhtkGBjXGijFbDogdADwcD9vceSPMhCRHJR3pPQ8syOibwU7m/MhhaPh2i/bGO
      oEtf3hZDeQWaXlOcRQ6rGXiJqh8kGuzWL6DO1Cgoi/kbx9X1HkvNYLUFkF/KwKhq
      0fKslyD8i8QJ2aOXZn6eP9kCgYEAp2dd/YqhIxcZs80UprJDbOTwcXZ6O2YSA7fh
      9xSJamywZdMP228mfNVaR0k+0vFUPC0cP5wRcx7aPDMfbXF1FRqO2FL7YP0zEbsk
      nVI1iXGss9V6AfQr1HH+9K1/2P1Op+C3UnjG/sUmAxzcSS6LbbiXku+WjdNpwReE
      FUy2QEkCgYALZUDLOxEijtpEGxH5KHBgeUFfnw4GCHYWNgTh7CNC+5Rx5nAunrWQ
      X7Zm89sHJmGcWELhbgwgcN4PwJCN77ttBTEG/cYigcoCdw5BiF2LOacZImAHdRgi
      85Prerl+cHufFEzBBOb0JLMitvjV4r9pIkHakiVZ+JIx4kiMS9MutA==
      -----END RSA PRIVATE KEY-----